## LISTS

* Lists are a versatible datatypes used to store multiple variables , it can be integer, float and strings. List are always entered with a pair of square brackets.

In [1]:
#List of Integers,  float and strings

list1 = [] #print Empty List
list2 = [] #print Empty List
list3 = [] #print Empty List

print("Empty List :: ", list1)
print("Empty List :: ", list2)
print("Empty List :: ", list3)

list1 = [5 , 10, 15, 20, 25] #Integer list
list2 = [1.5, 3.0, 4.5, 6.0, 7.5] #Float List
list3 = ['Apple', 'Oranges', "Grapes", "Banana", "Mango"] #Strings list

print("List of Integers :: ", list1) #Output integers list
print("List of Floats :: ", list2) #Output float list
print('List of Strings :: ', list3) #Output String List, irrespective or single or double quote, the list will always display output in single quote

Empty List ::  []
Empty List ::  []
Empty List ::  []
List of Integers ::  [5, 10, 15, 20, 25]
List of Floats ::  [1.5, 3.0, 4.5, 6.0, 7.5]
List of Strings ::  ['Apple', 'Oranges', 'Grapes', 'Banana', 'Mango']

In [2]:
# Add items to the list, we can use the append() function

list1.append(30)
list2.append(9.0)
list3.append("Watermelon")

print("The new updated list1 is :: ", list1)
print("The new updated list2 is :: ", list2)
print("The new updated list3 is :: ", list3)

The new updated list1 is ::  [5, 10, 15, 20, 25, 30]
The new updated list2 is ::  [1.5, 3.0, 4.5, 6.0, 7.5, 9.0]
The new updated list3 is ::  ['Apple', 'Oranges', 'Grapes', 'Banana', 'Mango', 'Watermelon']

## Dictionaries

* It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary).
* A pair of braces creates an empty dictionary: {}. 
* Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.

In [3]:
dict1 = {} #Create an empty dictionary and name it as dict1
dict2 = {} #Create an empty dictionary and name it as dict2
dict3 = {} #Ceate an empty dictionary and name it as dict3

print("The empty Dictonary is :: ", dict1)
print("The empty Dictonary is :: ", dict2)
print("The empty Dictonary is :: ", dict3)

The empty Dictonary is ::  {}
The empty Dictonary is ::  {}
The empty Dictonary is ::  {}

In [4]:
#Let us try adding some values to the dctionary. 
#We have to uderstand this, the dictionary values can be added in the following format variable_name['variable_key'] = variable_value

dict1['Apple'] = 25
dict1['Oranges'] = 55
dict1['Grapes'] = 15
dict1['Banana'] = 35
dict1['Mango'] = 60

print("Dictonary Fruit :: ", dict1)

Dictonary Fruit ::  {'Apple': 25, 'Oranges': 55, 'Grapes': 15, 'Banana': 35, 'Mango': 60}

In [5]:
#Create another dictionary with another set of values

dict2['Apple2'] = 25 
dict2['Oranges2'] = 35
dict2['Grapes2'] = 40
dict2['Banana2'] = 55
dict2['Mango2'] = 65

print("Dictonary Fruit :: ", dict2)

Dictonary Fruit ::  {'Apple2': 25, 'Oranges2': 35, 'Grapes2': 40, 'Banana2': 55, 'Mango2': 65}

In [6]:
# Every Key value is unique in the dictionary. 
#if the kep value is repeated, we will end up with an new value while the previously saved will be lost.

dict3['Apple3'] = 25
dict3['Oranges3'] = 35
dict3['Grapes'] = 45
dict3['Banana'] = 55
dict3['Mango'] = 65
dict3['Mango'] = 60
dict3['Banana'] = 50

print("Dictonary Fruit of 3 dictionary :: ", dict3)

Dictonary Fruit of 3 dictionary ::  {'Apple3': 25, 'Oranges3': 35, 'Grapes': 45, 'Banana': 50, 'Mango': 60}

In [7]:
#We have a function list() to display output all the dictionary keys

dict_keylist1 = list(dict1)
dict_keylist2 = list(dict2)

print("The Keysof the Dict1 is - ", dict_keylist1)
print("The Keysof the Dict2 is - ", dict_keylist2)

The Keysof the Dict1 is -  ['Apple', 'Oranges', 'Grapes', 'Banana', 'Mango']
The Keysof the Dict2 is -  ['Apple2', 'Oranges2', 'Grapes2', 'Banana2', 'Mango2']

In [8]:
##We have a function dictname.values() to display output all the dictionary values

dict_keyvalues1 = dict1.values() 
dict_keyvalues2 = dict2.values()

print(dict_keyvalues1)
print(dict_keyvalues2)

dict_values([25, 55, 15, 35, 60])
dict_values([25, 35, 40, 55, 65])

In [9]:
#Suppose we are requested to fetch the values of Apple, Banana2, Mango2, Grapes, we can do as follows

print("The requested values are ", dict1['Apple'], dict2['Banana2'], dict2['Mango2'], dict1['Grapes'])

#The print function can be used to used to output multiple values

The requested values are  25 55 65 15

In [10]:
#We have another function in the dictionary to sort the values in an order

sorted_dict1Keys = sorted(dict1) 
print("The sorted keys are : ", sorted_dict1Keys)

sorted_dict1Values = sorted(dict1.values())
print("The sorted values are : ", sorted_dict1Values)

The sorted keys are :  ['Apple', 'Banana', 'Grapes', 'Mango', 'Oranges']
The sorted values are :  [15, 25, 35, 55, 60]

## Boolean DataTypes

* Boolean DataTypes or simpy referred as Boolean used to confirm whether the values are present in the dictionaries. 
* If we are using large dataset and we need to verify whether the key is present in dictionaries, we use this. 
* To check, we use in or not in function.

In [11]:
#Check whether Banana2 is available not in dict1 and Grape available in dict2

print("The output is : ","Banana2"  in dict1)
print("The output is : " , "Grapes" not in dict2)

#If we use simply as Banana2, we will get name error since the Banana2 is not a variable, but 'Banana2' is a defined variable.

The output is :  False
The output is :  True

## Tuples

* A tuple is a collection which is ordered and unchangeable. 
* In Python tuples are written with round brackets or (). A tuple is a collection of variable which can be strings, float, integers

In [12]:
#Create a tuple with the name tup1 and tup2

tup1 = ('Data Science', 100, 12.5)
print("Display all the values of tup1 -",tup1)

tup2 = ("Machine Learning", 'SQL', 'AI', 200, 150, 22.75, 99.99)
print("Display all the values of tup2 -",tup2)

Display all the values of tup1 - ('Data Science', 100, 12.5)
Display all the values of tup2 - ('Machine Learning', 'SQL', 'AI', 200, 150, 22.75, 99.99)

In [13]:
#To fetch 3rd value of tup1, 5th value of tup2, 5th value from last of tup2

#The assighned value of every python list, dictionary and tuple always start from 0 if we are moving from left to right and 
#always start -1 if we are moving from right to left

print("The values are", tup1[2], tup2[5], tup2[-5])

The values are 12.5 22.75 AI

## Some Extra predefined function we can do with strings, list, tuple and dictionaries

1. In strings, we will learn the following today,

a. concatenation using operators symbol such as + , *. We have so far learnt about the operator = and use it extensively.(Please refer above example).

b. concatenation of two or more string literals. ( A literals is just a value assigned to the variable, if a = 10, a is the name of the variable, but 10 is the integer or int value assigned to the literals.)

c. concatenation of variable and literals.

d. Indexing of strings

e. Slicing of strings

f. Why Python strings are immutable?

g. len() function in strings

In [14]:
# a. concatenation using operators symbol such as + , *. 

#Consider the following example

str1 = "ABCDEFGH"
str2 = "IJKLMNOP"

#If we are asked to include 'um' 3 times to str1 and 'eh' 5 times to the str2, we can concatenate as follows

str_new1 = str1 + 3 * 'um' #The values will be added at the end of the string
str_new2 = str2 + 5 *'eh' #The values will be added at the end of the string

str_new3 = 3 * 'um' + str1 #The values will be added at the beginning of the string
str_new4 = 5 * 'eh' + str2 #The values will be added at the beginning of the string

print('The New String 1 is :: ',str_new1)
print('The New String 2 is :: ',str_new2)
print('The New String 3 is :: ',str_new3)
print('The New String 4 is :: ',str_new4)

The New String 1 is ::  ABCDEFGHumumum
The New String 2 is ::  IJKLMNOPeheheheheh
The New String 3 is ::  umumumABCDEFGH
The New String 4 is ::  ehehehehehIJKLMNOP

In [15]:
#b. concatenation of two or more string literals.
#Consider the previous example str1 and str2

str_new5 = 'Apple' ' and' ' Oranges'

print('New Strings are :: ', str_new5)

#You will see that, with multiple literals, a new value can be assigned to a variable name str_new5

New Strings are ::  Apple and Oranges

#c. concatenation of variable and literals.

str_new6 = 'I have two oranges' + 2 
print(str_new6)

In [16]:
# d.Indexing of strings - finding the information stored in the position of the string. In python, the values are stored like this.

# +---+---+---+---+---+---+
# | P | y | t | h | o | n |
# +---+---+---+---+---+---+
# 0   1   2   3   4   5   6
#-6  -5  -4  -3  -2  -1


# e.slicing of strings - A method of splitting a string 

#An example to slice a string with left to right
str_new7 = "A fine day to be outside !!"

print(str_new7[3 : 12]) 
# The value 3 is actually the position you wish to start slicing and the value 12 defines the 13th location the slicing should stop.
# Slicing will help to obtain a part of the string, comonly referred as sub string.

#An example to slice a string from right to left
print(str_new7[-9 : ])
#The value -9 is actualy 4th position from right to left,where the slicer will stop at  the 4th value. 
#Here a whitespace is considered as value. 

print(str_new7[8 : -2])
# The value 8 will start splcing from 9th position and it will stop short of last 2 values present.


#Indexing is limited to find only value of just the position the value holds.

print(str_new7[12])

ine day t
utside !!
ay to be outside
o

### Immutable vs mutable objects

In [17]:
#Immutable - An object with a fixed value. Immutable objects include numbers, strings and tuples. 
#Such an object cannot be altered. A new object has to be created if a different value has to be stored. 
#They play an important role in places where a constant hash value is needed, for example as a key in a dictionary.

print(str_new7)

#suppose we index a string for 7th position
print(str_new7[8])

#The object value is a, suppose, wewish to replace the value with say b, 
#we do this as following and we end with this error, TypeError: 'str' object does not support item assignment
#str_new7[8] = 'b'

#To overcome this, a new string needs to created, hence the term immutabele, which means the string cannot be edited, altered.

A fine day to be outside !!
a

In [18]:
#g. len() function in strings

#Suppose, we wish to know, how many value is present in the str_new7, we use the len()

len(str_new7)

27

    2. In lists, we learn today the following

a. Indexing of list and  slicing of list

b. Shallow copy

c. Concatenation of list

d. append

e. Example of mutability of list

f. len()

g. nesting in list

In [19]:
#a. Indexing of list and  slicing of list. BY considering previous example.

#Like Strings, list can also be indexed and sliced

#Indexing

print(list1)
print(list2)

print(list1[0] , list2[3])

print(list1[1 : 3], list2[2 : 5])

[5, 10, 15, 20, 25, 30]
[1.5, 3.0, 4.5, 6.0, 7.5, 9.0]
5 6.0
[10, 15] [4.5, 6.0, 7.5]

In [20]:
#b. shallow list - A method used to display the whole value in the list, using indexing and splicing
print(list1)
print(list2)

print(list1[:], list2[:])

[5, 10, 15, 20, 25, 30]
[1.5, 3.0, 4.5, 6.0, 7.5, 9.0]
[5, 10, 15, 20, 25, 30] [1.5, 3.0, 4.5, 6.0, 7.5, 9.0]

In [21]:
#c. concatenation of list

print(list1)
print(list2) 

concat_listnew1 = list1 + [30,35,40,45,50,55]
concat_listnew2 = list2 + [9.0, 10.5, 12.0, 13.5, 15.0]

concat_newlist = concat_listnew1 + concat_listnew2

print(concat_listnew1) #output of new list which shows concatenation
print(concat_listnew2) 
print(concat_newlist)

[5, 10, 15, 20, 25, 30]
[1.5, 3.0, 4.5, 6.0, 7.5, 9.0]
[5, 10, 15, 20, 25, 30, 30, 35, 40, 45, 50, 55]
[1.5, 3.0, 4.5, 6.0, 7.5, 9.0, 9.0, 10.5, 12.0, 13.5, 15.0]
[5, 10, 15, 20, 25, 30, 30, 35, 40, 45, 50, 55, 1.5, 3.0, 4.5, 6.0, 7.5, 9.0, 9.0, 10.5, 12.0, 13.5, 15.0]

In [22]:
#d. append()

print(list1)

list1.append(60) #We have added a new value to the list

print(list1)

[5, 10, 15, 20, 25, 30]
[5, 10, 15, 20, 25, 30, 60]

In [23]:
#e. Mutability of list

print(list1)

#We notice that the list is in multiple of the list, so value 60 is incorrect, so we can change as follows

list1[-1] = 30

print(list1) #This will show that has a mutable property

[5, 10, 15, 20, 25, 30, 60]
[5, 10, 15, 20, 25, 30, 30]

In [24]:
# f. len() - To find the total number of value

print(len(list1))

len(list1)

7

7

    3. In Dictionaries, we learn the following today,

a. accessing the values using key in dictionaries,using various types
    
    variable_name = dictname['KEYNAME']
    variable_name = dictname.get('keyname')

b. Lenght of the dictionaries using len()

c. Removing items from the dictionaries using pop() and popitem()

    dictname.pop('keyname')
    dictname.popitem('keyname')

d. To delete the entire dictionary or just a value using the delete function, del()

e. The clear function is another used to remove the entire dictionary from the python.

f. To duplicate or replicate same dictionary, you can use copy() or in built method dict()

In [25]:
#a. accessing the values using key in dictionaries,using various types
#variable_name = dictname['KEYNAME']
#variable_name = dictname.get('keyname')

#Consider the following dictionaries

dict_accessnew = {}
print(dict_accessnew)

#add some inputs

dict_accessnew['key1'] = 20
dict_accessnew['key2'] = 30
dict_accessnew['key3'] = 40
dict_accessnew['key4'] = 50
dict_accessnew['key5'] = 60

print(dict_accessnew)

#fetch value of key1 using both the above mentioned method

dict_accessnew1 = dict_accessnew['key1']
print(dict_accessnew1)

dict_accessnew2 = dict_accessnew.get('key5')
print(dict_accessnew2)

dict_accessnew['key3'] = 40

{}
{'key1': 20, 'key2': 30, 'key3': 40, 'key4': 50, 'key5': 60}
20
60

In [26]:
#c. Removing items from the dictionaries using pop() and popitem()
#dictname.pop('keyname')
#dictname.popitem('keyname')

#To pop or remove a specific value from the dictionaries using one of the key
dict_accessnew.pop("key3")

print(dict_accessnew)

#If by mistake, you added a incorrect value to wrong dictionaries and it is the most recent value you 
#have added, you can use popitem to remove this. In python 3.7 onwards, popitem() will just remove the last value.
#Check the fllowing example

dict_accessnew['key6'] = 70
dict_accessnew['key7'] = 100
dict_accessnew['key81'] = 90

#Above two are incorrect with one incorrect value and one incorrect keyname. 
#For the incorrect value, we can simply create a new variable name with the updated value, 
#however, for incorrect keyname, you can use popitem since it is a last entered.

dict_accessnew['key7'] = 80
dict_accessnew.popitem()

print(dict_accessnew)

{'key1': 20, 'key2': 30, 'key4': 50, 'key5': 60}
{'key1': 20, 'key2': 30, 'key4': 50, 'key5': 60, 'key6': 70, 'key7': 80}

In [27]:
#d. To delete the entire dictionary or just a value using the delete function, del()

dict_accessdel = {}

dict_accessdel['Apple'] = 200
dict_accessdel['Banana'] = 300
dict_accessdel['Watermelon'] = 400
dict_accessdel['Ferrari'] = 500
dict_accessdel['Oranges'] = 600

print(dict_accessdel)

#We can use del dictname['key'] to remove this

del dict_accessdel['Ferrari']

print(dict_accessdel)

{'Apple': 200, 'Banana': 300, 'Watermelon': 400, 'Ferrari': 500, 'Oranges': 600}
{'Apple': 200, 'Banana': 300, 'Watermelon': 400, 'Oranges': 600}

* #You can remove the entire dictionary from using the del command, we will receive an name errro since there will be no dictionary with th name.
* #del dict_accessdel
* #print(dict_accessdel)
* #If we wish to remove all the key and tge values from the dictionary, we will use clear function.
* #dict_accessdel.clear()
* #print(dict_accessdel)

In [29]:
#f. To duplicate or replicate same dictionary, you can use copy() or in built method dict()

#Using Copy function

dict_accesscopy = dict_accessdel.copy()
print(dict_accesscopy)
print(dict_accessdel)

#Using dict() method

dict_accessnewdict = dict(dict_accessdel)
print(dict_accessnewdict)

{'Apple': 200, 'Banana': 300, 'Watermelon': 400, 'Oranges': 600}
{'Apple': 200, 'Banana': 300, 'Watermelon': 400, 'Oranges': 600}
{'Apple': 200, 'Banana': 300, 'Watermelon': 400, 'Oranges': 600}

In [30]:
#Using len() to find the lenght of the dictionary

print(len(dict_accessdel))

4

    4. In tuple, we learn today

a. Access Tuple Items

b. Changing a tuple

c. Deleting a Tuple

d. Tuple Methods

e. Advantages of Tuple over List

In [31]:
#a. Access Tuple Items

#An object can be access through tuples using the indexing. Please consider the following example

tuple_accessnew = ()

print(type(tuple_accessnew))

print(tuple_accessnew)

# Add some values to it. 

tuple_accessnew = ('BMW', 'Ferrari' 'Aston Martin', 'Lambo', 'Ford', 'Nissan', 'TATA', 'MARUTI')

print(tuple_accessnew)

#We can use indexing to get object value from the tuple

print(tuple_accessnew[6])

print(tuple_accessnew[-5])

<class 'tuple'>
()
('BMW', 'FerrariAston Martin', 'Lambo', 'Ford', 'Nissan', 'TATA', 'MARUTI')
MARUTI
Lambo

In [32]:
#b. Changing a tuple

#A well established fact by now is that the tuple is immutable, object values once entered cannot be edited out.  
#You can either re-assighn this to a new value.

print(tuple_accessnew) 

tuple_accessnew = ('Apple', 'Oranges', 10, 20)

print(tuple_accessnew) #The previous values are dropped and new are picked up

('BMW', 'FerrariAston Martin', 'Lambo', 'Ford', 'Nissan', 'TATA', 'MARUTI')
('Apple', 'Oranges', 10, 20)

In [33]:
#c. Deleting a Tuple

tuple_accessnew1 = ('BMW', 'Ferrari' 'Aston Martin', 'Lambo', 'Ford', 'Nissan', 'Ford', 'TATA', 'MARUTI')

print(tuple_accessnew1)

#del tuple_accessnew1 #If you end up with name error once run, this means the tuple has been deleted.
#print(tuple_accessnew1)

('BMW', 'FerrariAston Martin', 'Lambo', 'Ford', 'Nissan', 'Ford', 'TATA', 'MARUTI')

In [34]:
#d. Tuple method, count() and index()

print(tuple_accessnew1.count('Ford')) #Count number of times the object is present

print(tuple_accessnew1.index('Ford'))

2
3

##### e. Advantages of Tuple over List 

Since tuples are quite similar to lists, both of them are used in similar situations as well.

However, there are certain advantages of implementing a tuple over a list. Below listed are some of the main advantages:

We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.
Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.
Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

#### MUTABLE vs IMMUTABLE

Every variable in python holds an instance of an object. There are two types of objects in python i.e. Mutable and Immutable objects. Whenever an object is instantiated, it is assigned a unique object id. The type of the object is defined at the runtime and it can’t be changed afterwards. However, it’s state can be changed if it is a mutable object.

To summarise the difference, mutable objects can change their state or contents and immutable objects can’t change their state or content.

Immutable Objects : These are of in-built types like int, float, bool, string, unicode, tuple. In simple words, an immutable object can’t be changed after it is created.

Mutable Objects : These are of type list, dict, set . Custom classes are generally mutable.



Conclusion

1. Mutable and immutable objects are handled differently in python. Immutable objects are quicker to access and are expensive to change because it involves the creation of a copy.
Whereas mutable objects are easy to change.

2. Use of mutable objects is recommended when there is a need to change the size or content of the object.
Exception : However, there is an exception in immutability as well. We know that tuple in python is immutable. But the tuple consists of a sequence of names with unchangeable bindings to objects.
Consider a tuple
 tup = ([3, 4, 5], 'myname') 

3. The tuple consists of a string and a list. Strings are immutable so we can’t change its value. But the contents of the list can change. The tuple itself isn’t mutable but contain items that are mutable.

As a rule of thumb, Generally Primitive-like types are probably immutable and Customized Container-like types are mostly mutable.

## DATE/TIME

https://www.programiz.com/python-programming/datetime

In [41]:
import datetime as dt

print(dt.datetime.now()) # print current time
print(dt.date.today())# print current date
print(dir(dt)) # displays the datetime format

2020-12-15 14:49:44.697459
2020-12-15
['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [42]:
# datetime.date Class

import datetime

print(datetime.date(2020,12, 15))

2020-12-15

In [43]:
#import only date from datetime

from datetime import date

print(date(2020,12, 12))

2020-12-12

In [45]:
#get current date

from datetime import date
print("Current date is ", (date.today()))

Current date is  2020-12-15

In [46]:
#get date from timestamp

from datetime import date

print("Date is ",(date.fromtimestamp(1326244364)))

Date is  2012-01-11

In [47]:
#print today's year, month, day

from datetime import date

# date object of today's date
today = date.today() 

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2020
Current month: 12
Current day: 15

In [48]:
#time object to  represent time

from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print("a =", a)

# time(hour, minute and second)
b = time(11, 34, 56)
print("b =", b)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print("c =", c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print("d =", d)

a = 00:00:00
b = 11:34:56
c = 11:34:56
d = 11:34:56.234566

In [49]:
#print hour, minute, second, microsecond

from datetime import time

a = time(11, 34, 56)

print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("microsecond =", a.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

In [50]:
#datetime module has datetime class


from datetime import datetime

#datetime(year, month, day)
a = datetime(2018, 11, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

In [51]:
# year, month, hour, minute, timestamp

from datetime import datetime

a = datetime(2017, 11, 28, 23, 55, 59, 342380)
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 2017
month = 11
hour = 23
minute = 55
timestamp = 1511893559.34238

In [52]:
#timedelta object represents the difference between two dates or times.


from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

In [53]:
#difference between two timedelta

from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

In [56]:
#time in seconds

from datetime import timedelta

t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("total seconds =", t.total_seconds())

total seconds = 435633.233423

In [57]:
#strftime - datetime object to string

from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

time: 15:05:16
s1: 12/15/2020, 15:05:16
s2: 15/12/2020, 15:05:16

    Here, %Y, %m, %d, %H etc. are format codes. The strftime() method takes one or more format codes and returns a formatted string based on it.

    In the above program, t, s1 and s2 are strings.

    * %Y - year [0001,..., 2018, 2019,..., 9999]
    * %m - month [01, 02, ..., 11, 12]
    * %d - day [01, 02, ..., 30, 31]
    * %H - hour [00, 01, ..., 22, 23
    * %M - minute [00, 01, ..., 58, 59]
    * %S - second [00, 01, ..., 58, 59]

In [58]:
#strptime = string to datetime

from datetime import datetime

date_string = "21 June, 2018"
print("date_string =", date_string)

date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 21 June, 2018
date_object = 2018-06-21 00:00:00

* The strptime() method takes two arguments:

    1. a string representing date and time
    2. format code equivalent to the first argument
    
* By the way, %d, %B and %Y format codes are used for day, month(full name) and year respectively.

In [59]:
#timezone using pytz

from datetime import datetime
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 12/15/2020, 15:09:12
NY: 12/15/2020, 04:39:17
London: 12/15/2020, 09:39:17